## Importing all the necessary libaries

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

##  Loading the csv data file

In [3]:
data=pd.read_csv("dataset.csv")

## EDA

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                8128 non-null   object
 1   year                8128 non-null   int64
 2   selling_price       8128 non-null   int64
 3   km_driven           8128 non-null   int64
 4   fuel                8128 non-null   object
 5   seller_type         8128 non-null   object
 6   transmission        8128 non-null   object
 7   owner               8128 non-null   object
 8   mileage(km/ltr/kg)  7907 non-null   float64
 9   engine              7907 non-null   float64
 10  max_power           7913 non-null   object
 11  seats               7907 non-null   float64
dtypes: float64(3), int64(3), object(6)
memory usage: 762.1+ KB

In [5]:
data.describe()

,year,selling_price,km_driven,mileage(km/ltr/kg),engine,seats
count,8128.000000,8.128000e+03,8.128000e+03,7907.000000,7907.000000,7907.000000
mean,2013.804011,6.382718e+05,6.981951e+04,19.418783,1458.625016,5.416719
std,4.044249,8.062534e+05,5.655055e+04,4.037145,503.916303,0.959588
min,1983.000000,2.999900e+04,1.000000e+00,0.000000,624.000000,2.000000
25%,2011.000000,2.549990e+05,3.500000e+04,16.780000,1197.000000,5.000000
50%,2015.000000,4.500000e+05,6.000000e+04,19.300000,1248.000000,5.000000
75%,2017.000000,6.750000e+05,9.800000e+04,22.320000,1582.000000,5.000000
max,2020.000000,1.000000e+07,2.360457e+06,42.000000,3604.000000,14.000000

# Detecting the outliers from the dataset and storing them in list(called outliers)and droping the outliers from the dataframe

In [9]:
outliers=[]
mean=np.mean(data['selling_price'])
std=np.mean(data['selling_price'])
for i in range(len(data['selling_price'])):
    z=(data['selling_price'][i]-mean)/std
    if z<-3 or z>3:
        outliers.append(data['selling_price'])
        data.drop(index=i,inplace=True)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7831 entries, 0 to 8127
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                7831 non-null   object
 1   year                7831 non-null   int64
 2   selling_price       7831 non-null   int64
 3   km_driven           7831 non-null   int64
 4   fuel                7831 non-null   object
 5   seller_type         7831 non-null   object
 6   transmission        7831 non-null   object
 7   owner               7831 non-null   object
 8   mileage(km/ltr/kg)  7610 non-null   float64
 9   engine              7610 non-null   float64
 10  max_power           7616 non-null   object
 11  seats               7610 non-null   float64
dtypes: float64(3), int64(3), object(6)
memory usage: 1.0+ MB

#Doing reindexing from deleting the outliers

In [13]:
ind_val=pd.Index([i for i in range(0,7831)])
data.set_index(ind_val)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7826,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.50,1197.0,82.85,5.0
7827,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493.0,110,5.0
7828,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.30,1248.0,73.9,5.0
7829,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57,1396.0,70,5.0
7830,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57,1396.0,70,5.0

In [14]:
data.isnull().sum()

name                    0
year                    0
selling_price           0
km_driven               0
fuel                    0
seller_type             0
transmission            0
owner                   0
mileage(km/ltr/kg)    221
engine                221
max_power             215
seats                 221
dtype: int64

# Importing LabelEncoder 
# Transforming the catergorical data into Numerical data

In [15]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
data['Name']=le.fit_transform(data['name'])
data['Fuel']=le.fit_transform(data['fuel'])
data['Seller_type']=le.fit_transform(data['seller_type'])
data['Transmission']=le.fit_transform(data['transmission'])
data['Owner']=le.fit_transform(data['owner'])

Droping the catergorical data from the  dataframe

In [17]:
data.drop(['name','fuel','seller_type','transmission','owner'],axis=1,inplace=True)

In [19]:
data.head()

,year,selling_price,km_driven,mileage(km/ltr/kg),engine,max_power,seats,Name,Fuel,Seller_type,Transmission,Owner
0,2014,450000,145500,23.40,1248.0,74,5.0,1285,1,1,1,0
1,2014,370000,120000,21.14,1498.0,103.52,5.0,1571,1,1,1,2
2,2006,158000,140000,17.70,1497.0,78,5.0,369,3,1,1,4
3,2010,225000,127000,23.00,1396.0,90,5.0,765,1,1,1,0
4,2007,130000,120000,16.10,1298.0,88.2,5.0,1327,3,1,1,0

In [25]:
#data['mileage(km/ltr/kg)'].unique() #use mean
#data['engine'].unique()     #use mode
data['max_power'].unique()  #use mean
#data['seats'].unique()      #use mode

array(['74', '103.52', '78', '90', '88.2', '81.86', '57.5', '37', '67.1',
       '68.1', '108.45', '60', '73.9', nan, '67', '82', '88.5', '46.3',
       '88.73', '64.1', '98.6', '88.8', '83.81', '83.1', '47.3', '73.8',
       '34.2', '35', '81.83', '40.3', '121.3', '138.03', '160.77',
       '117.3', '116.3', '83.14', '67.05', '168.5', '100', '120.7',
       '98.63', '175.56', '103.25', '171.5', '100.6', '174.33', '187.74',
       '170', '78.9', '88.76', '86.8', '108.495', '108.62', '93.7',
       '103.6', '98.59', '189', '67.04', '68.05', '58.2', '82.85', '81.8',
       '73', '120', '94.68', '160', '65', '155', '69.01', '126.32',
       '138.1', '83.8', '126.2', '98.96', '62.1', '86.7', '177.46', '141',
       '117.6', '150', '147.5', '108.5', '103.5', '183', '190', '157.7',
       '164.7', '91.1', '68', '75', '85.8', '87.2', '53', '118', '103.2',
       '83', '84', '58.16', '147.94', '74.02', '53.3', '80', '88.7',
       '97.7', '121.36', '162', '140', '94', '100.57', '82.9', '83.11',
       '70', '153.86', '121', '126.3', '73.97', '171', '69', '99.6',
       '102', '105', '63', '79.4', '97.9', '63.1', '66.1', '110', '53.26',
       '73.75', '67.06', '64.08', '37.5', '189.3', '158.8', '61.7',
       '55.2', '71.01', '73.74', '147.9', '71', '77', '121.4', '113.4',
       '47', '130', '57.6', '138', '52.8', '53.64', '53.5', '76.8',
       '82.4', '113.42', '76', '84.8', '0', '56.3', '174.5', '218', '112',
       '92', '105.5', '169', '95', '72.4', '115', '152', '91.2', '156',
       '74.9', '62', '105.3', '73.94', '85', '118.3', '72', '147.51',
       '58', '64', '126.24', '76.9', '194.3', '99.23', '89.84', '123.7',
       '118.35', '99', '104.68', '37.48', '104', '63.12', '91.7', '102.5',
       '177.6', '45', '123.37', '147.8', '184', '84.48', '68.07', '74.96',
       '167.6', '152.87', '112.2', '83.83', '110.4', '104.55', '103',
       '103.3', '66', '108.6', '165', '163.7', '116.9', '94.93', '127',
       '198.5', '179.5', '120.69', '121.31', '138.08', '197', '187.7',
       '80.8', '86.79', '93.87', '116.6', '241.4', '92.7', '88', '58.33',
       '78.8', '64.4', '125', '139.01', '136', '181', '258', '55.23',
       '270.9', '157.75', '101', '143', '186', '187.4', '64.9', '148',
       '35.5', '89.75', '204', '32.8', '91.72', '106', '98.97', '66.6',
       '86', '65.3', '98.82', '198.25', '38', '142', '132', '178',
       '163.2', '177.5', '175', '57', '80.84', '68.4', '167.67', '170.63',
       '52', '149.5', '48.21', '177', ' ', '201.1', '100.5', '144',
       '168.7', '104.5', '103.26', '116.4', '98.79', '80.9', '58.3',
       '272', '235', '167.62', '139.46', '158', '110.5', '82.5', '141.1',
       '38.4', '197.2', '161', '122.4', '134.1', '60.2', '134', '203',
       '135.1'], dtype=object)

# Handling the all missing values

In [52]:

data['mileage(km/ltr/kg)'].fillna(np.mean(data['mileage(km/ltr/kg)']),inplace=True)

data['engine'].fillna(data['engine'].mode()[0],inplace=True)


data['seats'].fillna(data['seats'].mode()[0],inplace=True)

In [62]:
data.drop(['max_power'],axis=1,inplace=True)

# Finding the correlation between each features and the label

In [63]:
data.corr()

,year,selling_price,km_driven,mileage(km/ltr/kg),engine,seats,Name,Fuel,Seller_type,Transmission,Owner
year,1.000000,0.529868,-0.398695,0.343602,-0.023006,0.020863,-0.009391,-0.031267,-0.090388,-0.171649,-0.467228
selling_price,0.529868,1.000000,-0.192281,-0.102864,0.481518,0.216665,0.077262,-0.257314,-0.136384,-0.426687,-0.285586
km_driven,-0.398695,-0.192281,1.000000,-0.195662,0.261175,0.215300,0.079917,-0.290950,0.076288,0.143776,0.266891
mileage(km/ltr/kg),0.343602,-0.102864,-0.195662,1.000000,-0.578626,-0.463352,-0.045782,-0.107075,-0.054470,0.145103,-0.176045
engine,-0.023006,0.481518,0.261175,-0.578626,1.000000,0.663777,0.116406,-0.489341,-0.009713,-0.170031,0.041328
seats,0.020863,0.216665,0.215300,-0.463352,0.663777,1.000000,0.097590,-0.349326,0.030466,0.049614,0.014286
Name,-0.009391,0.077262,0.079917,-0.045782,0.116406,0.097590,1.000000,-0.117311,0.045274,-0.023223,-0.003625
Fuel,-0.031267,-0.257314,-0.290950,-0.107075,-0.489341,-0.349326,-0.117311,1.000000,0.086137,-0.104979,-0.037861
Seller_type,-0.090388,-0.136384,0.076288,-0.054470,-0.009713,0.030466,0.045274,0.086137,1.000000,0.084301,0.114658
Transmission,-0.171649,-0.426687,0.143776,0.145103,-0.170031,0.049614,-0.023223,-0.104979,0.084301,1.000000,0.102272
Owner,-0.467228,-0.285586,0.266891,-0.176045,0.041328,0.014286,-0.003625,-0.037861,0.114658,0.102272,1.000000

# Droping the least correlated features

In [65]:
data.drop(['Seller_type','Name','Owner'],axis=1,inplace=True)

In [69]:
#data.drop(['Fuel'],axis=1,inplace=True)
y=data['selling_price']

In [73]:
data.drop(['selling_price'],axis=1,inplace=True)
x=data

In [74]:
x.head()

   year  km_driven  mileage(km/ltr/kg)  engine  seats  Transmission
0  2014     145500               23.40  1248.0    5.0             1
1  2014     120000               21.14  1498.0    5.0             1
2  2006     140000               17.70  1497.0    5.0             1
3  2010     127000               23.00  1396.0    5.0             1
4  2007     120000               16.10  1298.0    5.0             1

# Importing StandardScalar and Train_Test_Split
#  spliting and doing standarlising the data

In [75]:
from sklearn.preprocessing import StandardScaler as ss
from sklearn.model_selection import train_test_split as tts

In [76]:
x_train,x_test,y_train,y_test=tts(x,y,test_size=0.30,random_state=42)

In [77]:
scalar=ss()
x_train=scalar.fit_transform(x_train)
x_test=scalar.transform(x_test)

# Trying and implementing various regression models

In [78]:
from sklearn import linear_model
clf = linear_model.Lasso(alpha=0.1)

In [79]:
clf.fit(x_train,y_train)
clf.score(x_train,y_train)

0.6129556630241166

In [81]:
clf.predict(x_test)
clf.score(x_test,y_test)

0.600017853870014

In [82]:
from sklearn.linear_model import LinearRegression
ll=LinearRegression()
ll.fit(x_train,y_train)
ll.score(x_train,y_train)

0.6129556630248354

In [88]:
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor(max_depth=6, random_state=0)
rfr.fit(x_train,y_train)

RandomForestRegressor(max_depth=6, random_state=0)

In [89]:
rfr.score(x_train,y_train)

0.8812658857680513

In [91]:
rfr.predict(x_test)
rfr.score(x_test,y_test)

0.834676564985505

# Dumping the best model into the file for future usage

In [97]:
import pickle
pickle.dump(rfr,open("machine.pkl","wb"))